
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;700&family=Poppins:ital,wght@0,300;0,400;0,700;1,600&family=Roboto:wght@100&display=swap');

/* caniuse.com*/  

:root { 
   --padding-container : 100px 0 ;
   --color-title: #001a49;

}


body {

    font-family: 'Poppins', sans-serif;
}

.container {

    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);

}

.hero {
    width: 100%;    
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid ;
    grid-template-rows: 100px 1fr;
    color: #fff;

}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../imagenes/christopher-gower-m_HRfLhgABo-unsplash.jpg'  );
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
    }  

    /* NAV */

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_title {   

    font-weight: 300;
}

.nav_link {

    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav_items {

    list-style: none;
}

.nav_links {

    color: #fff;
    text-decoration: none;  
}

.nav_menu {

    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav_img {

    display: block;
    width: 30px;
}

.nav_close {

    display: var(--show, none);
}

/* Hero container */


.hero_container {

    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content ;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}


.hero_title {

    font-size: 3rem;
}

.hero_paragrahp{
    margin-bottom: 20px;

}

.cta{

    display: inline-block;
    background-color: #2091f9;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

/* About */

.about {
    text-align: center;
}

.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about_paragraph {

    line-height: 1.7; /*tamaño de letra*/
}

.about_main {

    padding-top: 80px; /* tener un poco mas espaciado*/
    /*display: grid;*/
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto; /*centado de contenedor*/
    gap: 1em;
    overflow: hidden; 
    /*grid-template-columns: repeat(auto-fit, minmax(260px, auto));*/ /*creacion de columnas dinamicas */
    
}

.about_icons {
    display: grid;
    gap: 1em;
    justify-items: center;  
    width: 260px;
    overflow: hidden;  /*para que todo lo que salga de este elemento se oculte*/
    margin: 0 auto ; /* centrar los iten en la mitad de la panta*/
   


}
.about_icon {
    width: 40px; /*tamaño de iconos*/
}



    /*knowledge*/  /* link de diseño  https://www.magicpattern.design/tools/css-backgrounds*/

.knowledge {

    background-color: #e5e5f7;
    background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    overflow: hidden;
    
}

.knowledge_container {

    display: grid;
    grid-template-columns: 1fr 1fr; /* para que se reparta el espacio  equitaticamenre*/
    gap: 1em;
    align-items: center;
    text-align: center; /**/

}

.knowledge_picture {

    max-width: 500px; /*limitara la imagen */

}

.knowledge_paragraph {

    line-height: 1.7;
    margin-bottom: 15px;

}

.knowledge_img {

    width: 100%; /* espacio que queremos q ocupe (el 100% de su padre*/
    display: block; /*para evitar problemas con esapacios verticales*/
}


/* price*/

.price {

    text-align: center;
}

.price_table {

    padding-top: 60px;
    display: flex;
    flex-wrap: wrap; /*en caso de que ya no entre los elementos SE VA A DESBORDAR UN ELEMENTO  O MAS ELEMNTOS DEPENDIENDO DE CUANTOS HAY */
    gap: 2.5em;   /*flexbox permite usar gap aun que todavia no tine tanta compativilidad */
    justify-content: space-evenly; /* para dar un espaciado equivalente ASI TODAS LAS ESQUEINAS HABLANDO DE MANERA HORIZONTAL*/
    align-items: center; /*para centar vertical mente*/
}

.price_element {

    background-color: #e5e5f7;
    text-align: center;
    border-radius: 10px;
    width: 300px;
    padding: 40px;
    --color-plan: #696871;  /*creacion de custo properti*/
    --color-price: #1D293f; 
    --bg-cta: #fff;  /*elemento creado por properti*/
    --color-cta:  #5454d4;
    --color--items: #696871 ;
} 

.price_element--best {

    width: 370px;
    padding: 60px 40px;
    background-color: #FF7143;
    --color-plan: rgb(255 255 255 / 75%);  /* es la nueva manera de utilizar rgb sin "comas y sin utilizar el valor alfa" /CREACION DE TRANSPARIENCIA */
    --color-price: #fff; 
    --bg-cta: #9F3919;  /*elemento creado por properti*/
    --color-cta:  #fff;
    --color--items: #fff ;

}

.price_name {

    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
}

.price_price {

    font-size: 2.5rem;
    color: var(--color-price);
}

.price_items {

    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color--items);

}

.price_cta {

    display: block; /*para que ocupe todo el espacio*/
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600; /*peso de fuente*/
    color: var(--color-cta);
    box-shadow: 0 0 1px rgba(0, 0, 0, .5) ; /*tipo de sonbra*/

}

/* Testimony*/

.testimony {

    background-color: #e5e5f7;
}

.testimony_container {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
    /*text-align: center;*/
}

.testimony_body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3; /*inicio de colugnas */
    grid-row: 1/2;  /*que empiese en la primera fila y temine en la segunda */
    opacity: 0;
    pointer-events: none;/*para que nadie pueda celecionar los eleimentos*/
}

.testimony_body--show {
    pointer-events: unset; /*esto se utiliza para que valla a la propiedad original */
    opacity: 1;
    transition: opacity 1.5s ease-out;
}

.testimony_img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%; /*para que ajuste la imagen*/
}

.testimony_text {
    max-width: 700%; /*es para que no rebase el ancho*/

}

.testimony_course {
    background-color: royalblue;
    color: white;
    display: inline-block;
    padding: 4px;
    border-radius: 20px;
}

.testimony_arrow {
    width: 90%;
    cursor: pointer;

}


/* questionssario */

.questions {

    text-align: center;
}

.questions_container {

    display: grid ;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 100px;
}

.questions_padding  {

    padding: 0;
    transition: padding 0.3s ease;
    border:  1px solid #5454d4;
    border-radius: 15px;

}

.questions_padding--add {
    padding-bottom: 30px;
}

.questions_answer {
    padding:0  30px  0 ;
    overflow: hidden;
}


.questions_title {
    display: flex;
    font-size: 20px;
    padding: 10px 0 10px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;    /* ESTO  ES PARA ENVIARLO A LA ESQUINA*/


}

.questions_arrow {
    border-radius: 50%;
    background-color:  var(--color-title);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center ;
    align-items: center;
    align-self:flex-end;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.questions_arrow.rotate {

    transform: rotate(180deg);
}

.questions_show {
text-align: left ;
height: 0; 
transition: height 0.3s ease;

}
.questions_img {
    display: block ;
}  

.questions_copy{

    
    width: 60% ;
    margin: auto;
    margin-bottom: 30px;

}

/*FOOTER*/
.footer{
background-color: #1D293f;
}

.footer_title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer_title, .footer_newsletter {
color: #fff;

}
.footer_container {
    display: flex;
    justify-content: space-between;
     align-items: center;
     border-bottom: 1px solid #fff;
     padding-bottom: 60px;
}


.nav--footer {

    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100px;
}

.nav_link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer_inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer_input{
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
     border-radius: 6px;
     font-size: 1rem;
     outline: nome;
     border: nome;
     margin-right: 16px;
}

.footer_submit  { 
    margin-left: auto;
    display: inline-block;
     height: 50px;
    padding: 0 20px;
    background-color: #2091f9;
     border: nome;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
}
